@model HAFunctions.Shared.Models.FunctionModel
@{
    ViewData["Title"] = "Edit Functions";
    Layout = "/Views/Shared/_LayoutFullscreen.cshtml";
}

@section Header 
{
    <style>
        .CodeMirror {
            height:100%;
        }
    </style>
}

@section Navbar
{
    <button type="submit" form="Edit" class="btn btn-danger">Save</button>
}
<form id="Edit" asp-action="Edit" class="form-inline">
    <input type="hidden" asp-for="FileName" />
    <textarea class="d-none" asp-for="Code"></textarea>
</form>

@section Scripts
{
<script src="~/lib/codemirror/lib/codemirror.js"></script>
<script src="~/lib/codemirror/mode/clike/clike.js"></script>
<script src="~/lib/codemirror/addon/lint/lint.js"></script>
<script src="~/js/csharp-lint.js" ></script>
<script>
    document.addEventListener('keydown', e => {
        if (e.ctrlKey && e.key === 's') {
            // Prevent the Save dialog to open
            e.preventDefault();
            // Place your code here
            console.log('CTRL + S');
            $('#Edit').submit();
        }
    });
    var objectivecEditor = CodeMirror.fromTextArea(document.getElementById("Code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csharp",
        gutters: ["CodeMirror-lint-markers"],
        lint: true,
        getAnnotations: function(text) {
            var found = [];
            found.push({ from: 1, to: 2, message: "This is fucked up" });
            return found;
        }
    });
    $('#Code').removeClass("d-none");
</script>
}


