@model HAFunctions.Shared.Models.FunctionModel
@{
    ViewData["Title"] = "Create new function";
}

@section Navbar
{
    <button type="submit" form="New" class="btn btn-danger">Save</button>
}
<h4>New Function</h4>
<hr/>
<form id="New" asp-action="New" class="form">
    <label for="FileName" class="form-label">File Name</label>
    <input type="text" class="form-control" asp-for="FileName"/>
</form>